@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #fafafa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.25);
  padding: 0.8rem 6.25rem;
}

.user-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.514);
  cursor: pointer;
}

header img {
  width: 15px;
}

.App-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.App-header h1 {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}
  
.nav {
  display: flex;
  padding: 0;
  gap: 2rem;
  list-style: none;
}
  
.nav-text {
  width: 3.688rem;
  height: 1rem;
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.books {
  list-style: none;
  padding: 0.5rem 0;
}

.book-div {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  background-color: white;
  padding: 0.5rem 0;
  margin: 1rem 6.25rem;
  box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.25);
}

.book-details {
  padding-left: 1.688rem;
}

.category {
  height: 1.125rem;
  margin-bottom: 0.2rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  width: 12.313rem;
  height: 1.813rem;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
  margin: 0 0;
}

.book-author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.buttons-div {
  padding-top: 1rem;
  display: flex;
  gap: 0.8rem;
}

.button {
  height: 1.188rem;
  background-color: transparent;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: unset;
  padding: 0;
  cursor: pointer;
}

.button-divider {
  color: #e8e8e8;
}

.progress-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress-image {
  width: 50px;
  height: 50px;
}

.percentage-div {
  display: flex;
  flex-direction: column;
}

.percentage {
  width: 4.25rem;
  height: 2.438rem;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.progress-divider {
  width: 1rem;
  border-right: 1px solid #8b4747;
  background-color: #0290ff; 
}

.completed-text {
  width: 5rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter-details {
  display: flex;
  flex-direction: column;
}

.current-chapter {
  width: 7.875rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter-number {
  width: 4.688rem;
  height: 1.313rem;
  font-family: RobotoSlab;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.update-button {
  width: 10rem;
  background-color: #0290ff;
  border: unset;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.783);
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
}

.hr {
  margin: 1.5rem 2rem;
  border-bottom: 1px solid #e7e7e7;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 6.25rem;
}

.form-header {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.form {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  gap: 1rem;
}

.form-input {
  border: unset;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.25);
}

.add-button {
  background-color: #0290ff;
  width: 8.938rem;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  border: unset;
  border-radius: 0.2rem;
  color: white;
}
