.App-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  color: #0290ff;
  margin: 0.1rem 2rem;
}

.nav {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-text {
  color: rgb(62, 62, 62);
  text-decoration: none;
}

.books-container {
  background-color: #f5f6fa;
  padding: 2rem 0 3rem;
  height: 100%;
}

.books {
  list-style: none;
}

.book-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.book-details {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 1rem 0 0;
}

.remove-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  border: none;
  color: rgb(128, 17, 17)
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem;
}

.form {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: 1rem;
  padding: 2rem 2rem;
}
